*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.website-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}
.title-image-container{
    width: 250px;
    align-content: center;
    padding-left: 30px;

}
.title-image-container img{
    width: 100%;
    height: 100%;
    color: transparent;
}
.Nav-bar{
    margin-left: auto;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
    list-style: none;
    background-color: transparent;
    height: 100%;
}
.nav a{
    padding: 20px;
    color: black;
    text-decoration: none;
    display: flex;
}
.button-container{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content:center;
    justify-items: center;
    align-items: center;
    padding: 0px 25px;
}
.nav-bar-button{
    padding: 10px 18px;
    border-radius: 33px;
    color: white;
    background-color: blueviolet;
    border: none;
}
.drop{
    position: relative;
}
.drop-down{
    position: absolute;
    top: 100%;
    left: 0;
    right:0;
    bottom:0;
    background-color: purple;
    color: white;
    height: 160px;
    list-style: none;
    text-align: start;
    z-index: 2;
    overflow-y:auto;
    display: none;
}

.drop a:hover .drop-down{
    display: block;
    transition: 300ms;
}
.drop:hover{
    background-color:purple;
    
}
.drop a:hover{
    color: white;
}
.main-banner{
    background-image: url("/Users/nabeelikram/Desktop/banner2.webp");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-size:cover ;


}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;

}
.main-banner .image-container{
    width: 730px;
    height: 550px;
    z-index: 1;
}
.main-banner .image-container img{
    width: 100%;
    height: 100%;
}
.main-banner .main-text{
    padding: 60px 30px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: left;
    z-index: 1;
}
.main-text h2{
    opacity: 60%;
    font-weight: light;
    font-size: medium;
}
.main-text h1{
    font-size: 40px;
}
.main-text p{
    font-weight: lighter;
    font-size: large;
}
.main-text .features{
    list-style: none;
    font-weight: bolder;
    
}
.main-text .features li{
    padding-left: 15px;
    position: relative;
    
}
.main-text .features span{
    background-color: rgb(0,204,203);
    width: 4px;
    height: 19px;
    position: absolute;
    left: 0;  
}
.description-and-data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
.description-and-data .image-container{
    width: 550px;
    height: 600px;
    justify-items: flex-start;
}
.description-and-data .image-container img{
    width: 100%;
    height: 100%;
}
.description-and-data .sub-text{
    padding: 40px 5px;
    justify-items: end;
}
.sub-text h3{
    color: blue;
}
.sub-text h1{
    font-size: 35px;
}
.sub-text p{
    line-height: 25px;
    font-size: large;
    font-weight: light;
}

.stats{
    display: flex;
}
.sub-text .stats li{
    list-style: none;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 100px;
    border-left: rgb(168, 168, 241) 3px solid;
    font-weight: bolder;
    
}
.sub-text .stats .num{
    color: blue;
    font-size: 40px;
    font-weight: bolder;
}
.Services{
    background-color: rgb(245,246,247);
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.service-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.service-header div{
    width: 50%;
    padding: 20px 0px;
    padding-left: 20px;
}
.service-header .description{
    width: 50%;
    line-height: 25px;
}
.Services h3{
    color: blue;
    font-size: 15px;
}
.Services h1{
    font-size: 30px;
    font-weight: bolder;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    gap: 80px;
}
.Services-provided i{
    background-color:rgb(230,234,248);
    color: rgb(64,91,247);
    padding: 30px;
    font-size: 40px;
    border-radius: 90px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.Services-provided p{
    line-height: 25px;
}
.Services-provided .button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    border: none;
}
.Get-in-touch{
    padding: 70px 60px;
}
.Get-in-touch .image-container{
    width: 100%;
}
.Get-in-touch .image-container img{
    width: 100%;
    border-radius: 40px;
    
}